.main-wrapper {
    background-color: var(--background-color);
    padding: 1rem;

    height: 95%;
    display: flex;
}

/* LEFT SIDE */

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 2rem;

    min-width: fit-content;
    width: 15%;
    max-width: 30%;

    height: 100%;
}

.side-top {
    display: flex;
    flex-direction: column;
    max-height: 88%;
}

.title {
    align-self: center;
    text-align: center;
    margin: 1rem;
}

.navigation {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    margin: 2rem 0px;
}

.nav-btn-wrapper, .profile-wrapper { 
    display:flex;
    align-items: center;
    gap: 0.5rem;
    transition: .5s;
}

.nav-btn-wrapper:hover, .profile-wrapper:hover, .log-out-btn-wrapper:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: left;

    .stroke-svg {
        stroke: var(--hover-font-color);
    }

    .fill-svg {
        fill: var(--hover-font-color);
    }

    .nav-btn-span, .profile-btn-span, .log-out-span {
        color: var(--hover-font-color);
    }
}

.profile-info {
    height: 12% ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.log-out-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: .5s;
}


/* RIGHT SIDE */

.right-wrapper {
    flex: 1;
    padding-right: 2rem;
}

.header {
    width: 100%;
    display: flex;
}

/* TYPE SELECTION  */

.dropdown-type {
    width: 16%;
    position: relative;
    align-content: center;
    z-index: 10;
}

.dropdown-type-btn {
    border: none;
    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 0 1.5rem;
}

.dropdown-svg {
    width: 1rem;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.dropdown-type-content {
    display: none;
    position: absolute;

    top: 100%;
    width:100%;
}

.dropdown-type-option {
    list-style-type: none;
}

.dropdown-type:hover {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 0px;

    .dropdown-type-content {
        margin-top: 0px;
        margin-left: 0px;

        border-top: 0px;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .dropdown-svg {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
    }

}

.dropdown-type-option {
    border: none;
    padding: 0.5rem 1.5rem;
    text-align: left;
}

.dropdown-type-option:hover {
    cursor: pointer;
    color: var(--hover-font-color);
}

/* SORT DROPDOWN */

.dropdown-sort{ 
    width: 16%;
    position: relative;
    align-content: center;
}

.dropdown-sort-btn {
    border: none;
    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 0 1.5rem;
}

.dropdown-sort:hover {
    .dropdown-svg {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
    }
}

.dropdown-sort-content {
    z-index: 10;
    display: none;
    position: absolute;

    top: 100%;  
    width:100%;
}

.dropdown-sort-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;    
    padding: 0.5rem 1.5rem;
}

.arrow-svg {
    height: 1rem;
}

.ascending {
    transform: scale(1, -1);
}

.dropdown-sort:hover {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 0px;

    .dropdown-sort-content {
        margin-top: 0px;
        margin-left: 0px;

        border-top: 0px;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .dropdown-svg {
        transform: rotate(180deg);
        transition: transform 0.2s ease-in-out;
    }
}

.dropdown-sort-option:hover {
    cursor: pointer;
    .fill-svg {
        fill: var(--hover-font-color);
    }

    span {
        color: var(--hover-font-color);
    }
}

/* SEARCH BAR */

.search-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.search-svg{
    width: 1rem;
    margin: auto 0.5rem;
}

/* MOVIES */

.main-section {
    margin-top: 1rem;
    
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.movies-wrapper {
    /* width: 95%; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 1rem;
}

.movie-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    align-items: center;
    transition: .5s;
}

.movie-wrapper:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.movie-poster {
    width: 100%;
    height: 75%;
    object-fit: cover;
    aspect-ratio: 2/3;
    border-radius: 1rem 1rem 0 0;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    padding: 0.5rem;
    align-items: center;
}

.movie-title {
    height: 50%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    text-align: center;
}

.movie-genre {

    max-height: 25%;
    max-width: 100%;

    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-star {
    color: orange;
}

.movie-rating {
    height: 25%;
}

.half-star {
    --color-full: orange;
    --color-empty: #ddd;
    --ratio: 50%;
  
    color: var(--color-empty);
    background: linear-gradient(
      to right,
      var(--color-full),
      var(--color-full) var(--ratio),
      var(--color-empty) var(--ratio),
      var(--color-empty)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Add Movie Modal */


#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);  
    display: none;
    align-items: center;           
    justify-content: center;        
    z-index: 20;                     
}

#add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;   

    background-color: var(--wrapper-color);
    padding: 2rem;
    border-radius: 1rem;


    input, textarea{
        background: none;
        padding: 0.5rem;
        border: 1px solid var(--inner-border-color);
        border-radius: 1rem;
    }
    
    button {
        border: none;
        background: none;
    }

    button:hover {
        cursor: pointer;
        color: var(--hover-font-color);
    }

    .add-movie-btn-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}