body {
    background-color: var(--background-color);
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.log-in-wrapper {
    width: clamp(400px, 50%, 600px);
    height: 90%;
    margin: 1% auto;

    display: flex;
    flex-direction: column;
    padding: 2rem;

    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 2rem;
    text-align: center;
}



#sign-up-button, #username-field, #sign-up-btn, #confirm-password-field, .log-in-link {
    display: none;
}

#validation-container {
    display: none;
}

#authenticator-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    input {
        background: none;
        border: 1px solid var(--inner-border-color);
        border-radius: 1rem;
        padding:1rem;
    }

    input {
        width: 100%;
    }

    .authenticator-btn {
        font-size: 1.2rem;
    
    }

    .authenticator-btn:hover {
        color: var(--hover-font-color);
        border-color: var(--hover-font-color);
        cursor: pointer;
    }

}   

.sign-up-link:hover, .log-in-link:hover {
    color: var(--hover-font-color);
}

#validation-container {
    color: Crimson;
}