body {
    background-color: var(--background-color);
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.main-wrapper {
    width: 90%;
    height: 90%;
    margin: 1% auto;

    display: flex;
    flex-direction: row;
}

#movie-poster {
    width: fit-content;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2/3;
    border-radius: 1rem 0 0 1rem;
}

/*                                                */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#movie-title {
    text-align: center;
}

.movie-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    max-width: 100%;

    height: 50%;
}

.movie-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
}

.info-wrapper {
    display: flex;
    padding: 0.5rem;
    align-content: center;
}

.info-type {
    min-width: 10%;
    align-content: center;
}

.movie-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* .movie-info p {
    margin-bottom: 0.5rem;
} */


/* #############################   BUTTONS   ##################################### */

.button-container {
    display: flex;
    justify-content: space-around;
    gap:1rem;
    padding: 1rem;
}

.btn {
    width:2rem;
    height:2rem;
}

.btn:hover {
    cursor: pointer;
}

#remove-btn {
    display: none;
}

#remove-btn:hover .fill-svg {
    fill: red;
}

#watched-btn:hover .stroke-svg, #watched-btn[selected] .stroke-svg {
    stroke: gold;
}

#favourite-btn:hover .stroke-svg, #favourite-btn[selected] .stroke-svg {
    stroke: red;
    fill: red;
}

path, svg {
    width: 100%;
}
/* #############################   COMMENTS   ##################################### */

.comment-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100%;
}
